<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/nav.ejs') %>
    <div class="edit-container">
      <h1 class="edit-title">Add Your Name</h1>
      <a href="<%=shades%>"></a>
      <img class="edit-img" src="<%=shades.image%>" />
      <form action="/<%=shades.id%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=shades.name%>" /><br />
        <div class="edit-button">
          <input class="edit" type="submit" value="Customize Shades" />
        </div>
      </form>
    </div>
  </body>
</html>
