<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/nav.ejs') %>
    <h1>Customize Your Name</h1>
    <div class="edit-container">
      <a href="<%=shades%>"></a>
      <h1><%=shades.name%></h1>
      <img src="<%=shades.image%>" />
      <form action="/index<%=shades.id%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=shades.name%>" /><br />
        Color:
        <input type="text" name="color" value="<%=shades.color%>" /><br />
        <div class="button-div">
          <input type="submit" value="Customize Shades" />
        </div>
      </form>
    </div>
  </body>
</html>
