<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/nav.ejs') %>
    <div class="container-index">
      <% for (let i = 0; i < shades.length; i++) { %>
      <div class="shades-home-page">
        <h1><%=shades[i].name%></h1>
        <a href="/shades/<%=shades[i].id%>">
            <div class="img-index">
          <img class="index-shades" src="<%=shades[i].image%>" />
        </a>
    </div>
      </div>

      <% } %>
    </div>
  </body>
</html>
