<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <h1>Shadez for Dayz!</h1>
    <div class="container">
      <% for (let i = 0; i < shades.length; i++) { %>
      <div class="shades-home-page">
        <h1><%=shades[i].name%></h1>
        <a href="/shades/<%=shades[i].style%>">
          <img src="<%=shades[i].image%>" />
        </a>
      </div>
      <div class="button-div">
        <form action="/<%=shades[i].id%>?_method=DELETE" method="POST">
          <input type="submit" value="DELETE" />
        </form>
        <a href="/<%=shades[i].id%>/edit">
          <button>EDIT</button>
        </a>
      </div>
    </div>
    <% } %>
  </div>
  </body>
</html>
